body{
    margin: 0%;
    padding: 0;
}
.topPage{
    display:flex ;
    justify-content: space-between;
    align-items: center;
    font-size: large;
    background-color:darkseagreen;
    height: 50px;
    font-size: 40px;
    
}

.topPage li{
    display: inline;
    padding-right: 10px;
    font-size: 30px;
}

.topPage a {
    text-decoration: none;
    color: black;
    transition: color 0.1s ease;
}

.topPage li :hover{
    color: rgb(255, 255, 255);
}


.Middle{
    background-color: white;
    height: 400px;
    margin-top: 130px;
}

.Middle .pfp{
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 50%;
    padding: 10px;
    float: left;  
    background-color: white;
}

.aboutme{
    text-align: center;
    margin-right: 200px;
    font-size: 30px;
}




